<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <link rel="shortcut icon" href="">
</head>
<body>
    <h1>Welcome to Tic-Tac-Toe game</h1>
    <h2>Heroku testing</h2>
    <form>
        <p>Choose your mark</p>
        <input type="radio" id="X-mark" name="mark" value="X" >
        <label for="X-mark">X</label>
        <input type="radio" id="O-mark" name="mark" value="O">
        <label for="O-mark">O</label>
        <p>Choose difficulty level</p>
        <input type="radio" id="easy" name="difficulty-level" value="easy">
        <label for="easy">Easy</label>
        <input type="radio" id="medium" name="difficulty-level" value="medium">
        <label for="medium">Medium</label>
        <input type="radio" id="hard" name="difficulty-level" value="hard">
        <label for="hard">Hard</label>
        <br>
        <input type="button" value="Ok" id="ok-button">
        <input type="button" value="Restart" id="restart-button">
    </form>
    <canvas id="my-canvas"></canvas>
    <script type="text/javascript" src="{{url_for('static', filename='scripts.js')}}"></script>
</body>
</html>